<div class="page-header-content">
    <div class="user-login">
        <a href="javascript:void(0)">
            <div class="name fg-color-blueLight">
                <span class="first-name"><%= name %></span>
                <span class="last-name"><%= group%></span>
            </div>
            <div class="avatar">
                <!--<img src="images/myface.jpg"/>-->
                <i class="icon-user fg-color-blueLight"></i>
            </div>
        </a>
    </div>
    <h1 class="fg-color-blueLight">我的主页</h1>
    <div class="span5 offset5" style="position:absolute;top:60px;">
        <div id="search" class="input-control text" >
            <input type="text" placeholder="找你想要的！" />
            <button class="btn-search"></button>
        </div>
    </div>
</div>