<div class="place-left" style="width:60%;">

登录
</div>

<div class="place-left" style="width:35%;">

    <div>
        <div></div>
        <div>

            <form>
                <div class="input-control text">
                    <input type="text" />
                    <button class="btn-clear"></button>
                </div>
                <div class="input-control password">
                    <input type="password" />
                    <button class="btn-reveal"></button>
                </div>
            </form>
        </div>
    </div>
</div>