<div>
<form action="/user/login" method="post" >
  <ul class="listview fluid">
    <li><h1>登录</h1></li>

	  <li><h2><a href="/" >回首页</a></h2></li>

    <li>
      <div class="input-control text">
	<input name="email" type="email" />
	<button class="btn-clear"></button>
      </div>

    </li>

    <li>
      <div class="input-control password">
	<input name="passwd" type="password" />
	<button class="btn-reveal"></button>
      </div>

    </li>

    <li>
       <input type="submit" value="登录"/>
    </li>

    <li>
      <h4><a href="/#!registry">注册</a></h4>
    </li>
  </ul>

  </form>
</div>
